*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: black;
}

/* HEADER component */
.header{
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1a1a;
  color: #fff;
  z-index: 999;
}
.header .main-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-logo img{
  width: 100%;
  height: 40px
}
.location{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.location .MuiFormControl-root label{
  color: #fff;
}
.location .MuiFormControl-root .MuiInputBase-root {
  color: #fff;
}
.search-bar{
  width: 600px;
  position: relative;
}
.inside-search-bar{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  background: white;
  border-radius: 5px;
}
.inside-search-bar input{
  border: none;
  outline: none;
  font-size: 16px;
  border-right: 1px solid #606060;
  border-left: 1px solid #606060;
  padding: 15px 20px;
}
.inside-search-bar .search-icon{
  background-color: rgb(248, 188, 35);
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language{
  display: flex;
  justify-content: center;
  align-items: center;
}
.language img{
  width: 20px;
  height: 20px;
}
.language span{
  font-size: 20px;
}
.sign-in{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.sign-in p{
  font-size: 12px;
  color: white;
  text-decoration: none;
  border: none;
}
.sign-in h4{
  color: white;
  text-decoration: none;
  border: none;
}
.orders{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.orders p{
  font-size: 12px;
}
.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cart span{
  width: 16px;
  height: 16px;
  color: white;
  border-radius: 50%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 12px;
}

.header .main-logo img::after{
  content: '.in';
  position: absolute;
  bottom: 0;
  right: -20px;
  color: white;
}
.product-add-message{
  position: fixed;
  top: 4rem;
  right: 10px;
  background-color: #d74100;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.158);
}

.outside-message{
  position: fixed;
  top: 4rem;
  right: -8rem;
  background-color: #d74100;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.158);
}
.product-add-message p{
  font-size: 18px;
  font-weight: 600;
  color: white
}

.menu-items{
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.menu-hidden{
  display: none;
}
.menu-visible{
  display: block;
}
.menu-items::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.menu-items-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.menu-items-container p{
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header .main-logo img{
    width: 90%;
    height: 40px
  }
  .search-bar{
    width: 350px;
  }
}
@media (max-width: 768px) {
  .search-bar{
    width: 400px;
  }
  .location, .language, .sign-in, .orders{
    display: none;
  }
  .menu-items{
    width: 40%;
  }
}
@media (max-width: 500px) {
  .header{
    display: flex;
    align-items: flex-start;
    height: 7.4rem;
    padding: 10px;
  }
  .search-bar{
    width: 95%;
    position: absolute;
    top: 3.5rem;
    border-radius: 5px;
  }
  .inside-search-bar{
    display: grid;
    grid-template-columns: 85% 15%;
  }
  .inside-search-bar .MuiFormControl-root{
    display: none;
  }
  .menu-items{
    width: 80%;
  }
  /* .inside-search-bar .search-icon{
    width: 20%;
  } */
}
@media (max-width: 426px) {
  .header{
    display: flex;
    align-items: flex-start;
    height: 7.4rem;
    padding: 10px;
  }
  .search-bar{
    width: 95%;
    position: absolute;
    top: 3.5rem;
    border-radius: 5px;
  }
  .inside-search-bar{
    display: grid;
    grid-template-columns: 85% 15%;
  }
  .inside-search-bar .MuiFormControl-root{
    display: none;
  }
  .menu-items{
    width: 80%;
  }
  /* .inside-search-bar .search-icon{
    width: 20%;
  } */
}


/* ================================= Navbar =================================*/
.navbar{
  width: 100%;
  position: absolute;
  left: 0;
  top: 1.9rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  background-color: #313957;
}
.navbar span{
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
}
.navbar-buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-buttons button{
  display: inline-block;
  padding: 7px 10px;
  font-size: 18px;
  border: 0px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .navbar{
    top: 3.6rem;
    gap: 1rem;
  }
  .navbar-buttons button{
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  .navbar{
    top: 3.6rem;
    gap: 1rem;
  }
  .navbar-buttons button{
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .navbar-buttons{
    gap: 1px;
  }
}


/* ========================================= HOME Page ==================================*/

.home-page{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 2rem;
}
.decrease-visibility{
  filter: brightness(50%);
}
.home-page::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.home-container{
  width: 100%;
  min-height: 100vh;
  margin-top: 14vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(222, 218, 218, 0.546);
}
@media (max-width:768px) {
  .home-page{
    padding-top: 2rem;
  }
}
@media (max-width: 426px) {
  .home-page{
    padding-top: 4rem;
  }
  .home-container{
    padding: 2rem 1px 1px 1px;
  }
}
@media (max-width: 426px) {
  .home-page{
    padding-top: 4rem;
  }
  .home-container{
    padding: 2rem 1px 1px 1px;
  }
}
/* ===================================== PRODUCT PAGE =================================== */
.product-page{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgba(222, 218, 218, 0.546);
}
.product-page::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.product-container{
  width: 100%;
  min-height: 100vh;
  margin-top: 14vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width:768px) {
  .product-page{
    padding-top: 2rem;
  }
}
@media (max-width:500px) {
  .product-page{
    padding-top: 4rem;
  }
}
@media (max-width:426px) {
  .product-page{
    padding-top: 4rem;
  }
}
/* ================================== SEARCH PAGE =================================== */
.search-page{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 4rem;
}
.search-page h2{
  margin-top: 1rem;
  text-align: center;
}
.search-page-container{
  width: 100%;
  min-height: 100vh;
  margin-top: 2vh;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background: rgba(222, 218, 218, 0.546);
}
.search-page-container .searched-item{
  width: 100%;
  height: 350px;
  box-shadow: 0 0 2px 2px rgba(55, 55, 55, 0.295);
  background-color: white;
  padding: 1rem;
}
.search-page-container .searched-item img{
  width:100%;
  height:300px;
}
.search-page-container .searched-item h4{
  padding: 5px 10px;
}
@media (max-width: 1024px) {
  .search-page-container .searched-item{
    width: 300px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .search-page{
    padding-top: 8rem;
  }
  .search-page-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 1rem;
  }
  .search-page-container .searched-item{
    width: 220px;
    height: 270px;
    padding: 10px;
  }
  .search-page-container .searched-item img{
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 500px) {
  .search-page h2{
    padding-top: 2rem;
  }
  .search-page-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 10px;
  }
  .search-page-container .searched-item{
    width: 200px;
    height: 250px;
    padding: 5px;

  }
  .search-page-container .searched-item img{
    width: 100%;
    height: 160px;
  }
  .searched-item h4{
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .search-page h2{
    padding-top: 2rem;
  }
  .search-page-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 10px;
  }
  .search-page-container .searched-item{
    width: 180px;
    height: 230px;
    padding: 5px;

  }
  .search-page-container .searched-item img{
    width: 100%;
    height: 140px;
  }
  .searched-item h4{
    font-size: 14px;
  }
}

/* ================================ home search bar ====================== */

.home-search-page-container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  padding: 6rem 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background: rgba(222, 218, 218, 0.546);
}
.home-search-page-container .searched-item{
  width: 100%;
  height: 350px;
  box-shadow: 0 0 2px 2px rgba(55, 55, 55, 0.295);
  background-color: white;
  padding: 1rem;
}
.home-search-page-container .searched-item img{
  width: 100%;
  height: 280px;
}
.home-search-page-container .searched-item h4{
  padding: 5px 10px;
}
@media (max-width: 1024px) {
  .home-search-page-container .searched-item{
    width: 300px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .home-search-page-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5rem 1rem 1rem 1rem;
  }
  .home-search-page-container .searched-item{
    width: 220px;
    height: 270px;
    padding: 10px;
  }
  .home-search-page-container .searched-item img{
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 500px) {
  .home-search-page h2{
    padding-top: 2rem;
  }
  .home-search-page-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 8.5rem;
  }
  .home-search-page-container .searched-item{
    width: 180px;
    height: 230px;
    padding: 5px;

  }
  .home-search-page-container .searched-item img{
    width: 100%;
    height: 140px;
  }
  .home-searched-item h4{
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .home-search-page h2{
    padding-top: 2rem;
  }
  .home-search-page-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 7rem;
  }
  .home-search-page-container .searched-item{
    width: 180px;
    height: 230px;
    padding: 5px;

  }
  .home-search-page-container .searched-item img{
    width: 100%;
    height: 140px;
  }
  .home-searched-item h4{
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .home-search-page-container .searched-item{
    width: 160px;
    height: 210px;
    padding: 5px;

  }
  .home-search-page-container .searched-item img{
    width: 100%;
    height: 120px;
  }
}

/* =================================== CART PAGE ========================================== */
.cart-page{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgba(222, 218, 218, 0.546);
  padding: 2.5rem 1rem 4rem 1rem;


}
.cart-container{
  width: 100%;
  min-height: 100vh;
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.cart-container .empty-product-msg{
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 50px;
  color: #8a8c92;
  font-Weight: 700;
}
.cart-container .cart-item{
  width: 100%;
  height: 200px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.272);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
}
.cart-container .cart-item .item-name{
  display: flex;
  align-items: center;
  width: 200px;
  gap: 2rem;
}
.cart-container .cart-item .item-name img{
  width:100px;
}
.cart-container .cart-item .item-name p{
  font-size: 18px;
  font-weight: 600;
}
.cart-container .cart-item .item-price{
  display: flex;
  flex-direction: column;
}
.cart-container .cart-item .item-price span{
  font-size: 18px;
}
.cart-container .cart-item .cart-btns .remove-item-btn{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(237, 2, 2, 0.849);
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.cart-container .cart-item .cart-btns .buy-item-btn{
  width: 100%;
  display: inline-block;
  background-color: orange;
  font-size: 18px;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  padding: 4px 0;
  margin: 6px 0;
}
.cart-page .cart-total{
  width: 100%;
  background-color: rgb(61, 61, 181);
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-page .cart-total p{
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .cart-page{
    padding-top: 2.5rem;
  }
  .cart-container .empty-product-msg{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .cart-page{
    padding: 6rem 5px 5px 5px;
  }
  .cart-container .cart-item{
    width: 100%;
    height: 100px;
    padding: 10px
  }
  .cart-container .cart-item .item-name{
    width: 120px;
    gap: 1rem
  }
  .cart-container .cart-item .item-name img{
    width:50px;
  }
  .cart-container .cart-item .item-name p{
    font-size: 14px;
    font-weight: 600;
  }
  .cart-container .cart-item .cart-btns .remove-item-btn{
    padding: 2px 8px;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .cart-container .cart-item .cart-btns .buy-item-btn{
    padding: 4px 8px;
    font-size: 10px;
    margin-bottom: 0;
  }
  .cart-container .cart-item .item-price span{
    font-size: 12px;
  }
  .cart-page .cart-total p{
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .cart-page{
    padding: 6rem 5px 5px 5px;
  }
  .cart-container .cart-item{
    width: 100%;
    height: 100px;
    padding: 10px
  }
  .cart-container .cart-item .item-name{
    width: 120px;
    gap: 1rem
  }
  .cart-container .cart-item .item-name img{
    width:50px;
  }
  .cart-container .cart-item .item-name p{
    font-size: 14px;
    font-weight: 600;
  }
  .cart-container .cart-item .cart-btns .remove-item-btn{
    padding: 2px 8px;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .cart-container .cart-item .cart-btns .buy-item-btn{
    padding: 4px 8px;
    font-size: 10px;
    margin-bottom: 0;
  }
  .cart-container .cart-item .item-price span{
    font-size: 12px;
  }
  .cart-page .cart-total p{
    font-size: 14px;
  }
}
/* ====================== PRODUCT BUY PAGE ======================== */
.product-buy{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgba(222, 218, 218, 0.546);
}
.product-buy-container{
  width: 100%;
  min-height: 100vh;
  margin-top: 14vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-buy-container .content{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 1rem
}
.product-buy-container .content .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.product-buy-container .content .center{
  border-radius: 8px;
  overflow: hidden;
}
.product-buy-container .content .center img{
  width: 400px;
  height: 400px;
}
.product-buy-container .content .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-buy-container .buy{
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.product-buy-container .buy button{
  display: inline-block;
  color: white;
  background-color: red;
  font-size: 24px;
  padding: 6px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .product-buy-container .content{
    gap: 2rem;
  }
  .product-buy-container .content .center img{
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 768px) {
  .product-buy{
    padding: 2rem;
  }
  .product-buy-container .content .center img{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .product-buy{
    padding-top: 4rem;
  }
  .content{
    margin-top: 1rem;
  }
  .product-buy-container .content .left{
    display: flex;
    align-items: start;
  }
  .product-buy-container .content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 426px) {
  .product-buy{
    padding-top: 4rem;
  }
  .content{
    margin-top: 1rem;
  }
  .product-buy-container .content .left{
    display: flex;
    align-items: start;
  }
  .product-buy-container .content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ================================ PAYMENT PAGE ========================= */
.payment-page{
  width: 100%;
  min-height: 120vh;
  background: rgba(222, 218, 218, 0.546);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.payment-page-blur{
  opacity: 0.4;
}
.payment-container{
  width: 60%;
  background-color: white;
  box-shadow: 0 0 1px 2px #00000046;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.payment-left-section{
  display: flex;
  flex-direction: column;
}
.payment-left-section a img{
  width: 150px;
  height:40px;
}
.payment-left-section .payment-product-image{
  width:90%;
  height:300px;
  margin: "2rem 0";
}
.payment-right-section{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.957);
  gap: 1rem;
}
.payment-right-section .express-checkout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-right-section .express-checkout .express-left{
  width: 100px;
  height: 1px;
  background-color: black;
}
.payment-right-section .express-checkout .express-right{
  width: 100px;
  height: 1px;
  background-color: black;
}
.payment-options{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-holder-name input{
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #00000022;
}
.confirmed-message{
  width: 30%;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid red;
  position: fixed;
  top: 1rem;
  left: 35%;
  text-align: center;
  padding: 1rem;
  background-color: white;
  z-index: 999;
}
.confirmed-btn{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.confirmed-btn button{
  font-size: 20px;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.show-confirmed{
  display: block;
}
.hide-show-confirmed{
  display: none;
}
@media (max-width: 1024px) {
  .confirmed-message{
    width: 40%;
    left: 30%;
  }
  .payment-container{
    width: 80%;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .payment-container{
    width: 90%;
    padding: 2rem;
    gap: 1rem;
  }
  .payment-left-section .payment-product-image{
    width:90%;
    height:250px;
    margin: "2rem 0";
  }
  .confirmed-message{
    width: 50%;
    left: 25%;
  }
}
@media (max-width: 500px) {
  .payment-page{
    padding: 5px;
  }
  .payment-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .payment-right-section{
    width: 100%;
  }
  .payment-right-section .payment-heading{
    text-align: center;
  }
  .payment-left-section{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .payment-left-section h2{
    font-size: 16px;
    text-align: center;
  }
  .payment-left-section h3{
    font-size: 12px;
    text-align: center;
  }
  .confirmed-message{
    width: 90%;
    left: 1rem;
  }
}
@media (max-width: 426px) {
  .payment-page{
    padding: 1px;
  }
  .payment-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .payment-right-section{
    width: 100%;
  }
  .payment-right-section .payment-heading{
    text-align: center;
  }
  .payment-left-section{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .payment-left-section h2{
    font-size: 16px;
    text-align: center;
  }
  .payment-left-section h3{
    font-size: 12px;
    text-align: center;
  }
  .confirmed-message{
    width: 90%;
    left: 1rem;
  }
}
@media (max-width: 376px) {
  .payment-right-section .express-checkout{
    font-size: 12px;
  }
}

/* ================================ RECEIPT PAGE ================================ */
.receipt{
  width: 100%;
  min-height: 100vh;
  background: rgba(222, 218, 218, 0.546);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.receipt-container{
  background-color: white;
  width: 80%;
  height: fit-content;
  padding: 2rem;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.242);
  border-radius: 4px;
}
.customer-info{
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.product-info{
  padding: 2rem 0;
}
.product-info table{
  width: 100%;
  border-collapse: collapse;
}
.product-info table, th, td{
  border: 1px solid black;
  padding: 1rem;
}
.total-price{
  font-size:25px; 
  font-weight: 600;
  color: red;
}

@media (max-width: 768px) {
  .receipt-container{
    width: 90%;
  }
  .receipt{
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .receipt-container{
    width: 100%;
  }
  .receipt{
    padding: 1px;
  }
  .product-info table, th, td{
    padding: 10px;
    font-size: 14px;
  }
  .customer-info h4, p{
    font-size: 14px;
  }
  .total-price{
    font-size:20px; 
    font-weight: 600;
    color: red;
  }
}

@media (max-width: 426px) {
  .receipt-container{
    width: 100%;
  }
  .receipt{
    padding: 1px;
  }
  .product-info table, th, td{
    padding: 10px;
    font-size: 14px;
  }
  .customer-info h4, p{
    font-size: 14px;
  }
  .total-price{
    font-size:20px; 
    font-weight: 600;
    color: red;
  }
}


/* style={{width: "200px", height: "fit-content", borderRadius: "8px", border: "1px solid red", position: "fixed", top: "1rem", left: "50%"}} */


/* ======================= Single Product ========================= */
.single-product-component{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.single-product-component::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.single-product-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 2rem;
  padding: 2rem 0;
}
.single-product-container .product-image{
  padding: 1rem;
}
.single-product-container .product-image img{
  width: 400px;
  height: 400px;
}
.single-product-container .product-details{
  padding: 1rem;
}
.single-product-container .product-buy{
  padding: 2rem;
  box-shadow: 0 0 2px 2px rgba(168, 168, 168, 0.448);
  border-radius: 8px;
}
.product-prices{
  position: relative;
}
.product-prices::after{
  content: '\20B9';
  position: absolute;
  top: 2px;
  left: -10px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .single-product-container .product-image img{
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .single-product-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
  }
  .single-product-container .product-image img{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .single-product-container .product-image{
    padding: 2rem;
  }
  .single-product-container .product-image img{
    width: 100%;
    height: 100%;
  }
  .single-product-component{
    padding-top: 0;
  }
  .single-product-container{
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    padding: 1rem 0;
  }
}
@media (max-width: 426px) {
  .single-product-container .product-image{
    padding: 2rem;
  }
  .single-product-container .product-image img{
    width: 100%;
    height: 100%;
  }
  .single-product-component{
    padding-top: 0;
  }
  .single-product-container{
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    padding: 1rem 0;
  }
}

/* ============================== SIGNIN PAGE =============================== */

.signin-page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);

}
.signin-page-container{
  width: 100%;
  height: fit-content;
  box-shadow: 1px 1px 4px rgba(138, 138, 138, 0.363);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.form-container{
  width: 28%;
  border: 1px solid #8d8d8d;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.form-container div input{
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
  padding: 4px 8px;
  outline: 1px solid rgb(66, 233, 239);
}
.form-container button{
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  text-align: center;
  background-color: rgb(230, 230, 0);
  border-radius: 6px;
  color: black;
  border: none;
  font-size: 18px;
}
.blue-link{
  color: rgb(0, 106, 255);
}
.signin-page-container .create-account{
  margin-top: 1rem;
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8d8d8d;
  padding: 10px 2rem;
  border-radius: 10px;
  background-color: white;

}
.signin-page-container .create-account p{
  font-size: 16px;
  font-weight: 500;
}
.privacy-policy-container{
  margin: 0 auto;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.privacy-policy{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.privacy-policy span{
  color: rgb(0, 106, 255);
  font-size: 14px;
}
.privacy-policy-container p{
  font-size: 15px;
  color: #8d8d8d;
}
@media (max-width: 1024px) {
  .form-container{
    width: 40%;
  }
  .privacy-policy-container{
    width: 40%;
  }
  .signin-page-container .create-account{
    width: 40%;
  }
}
@media (max-width: 768px) {
  .form-container{
    width: 60%;
  }
  .privacy-policy-container{
    width: 60%;
  }
  .signin-page-container .create-account{
    width: 60%;
  }
}
@media (max-width: 500px) {
  .form-container{
    width: 100%;
  }
  .privacy-policy-container{
    width: 100%;
  }
  .signin-page-container .create-account{
    width: 100%;
  }
}
@media (max-width: 426px) {
  .form-container{
    width: 100%;
  }
  .privacy-policy-container{
    width: 100%;
  }
  .signin-page-container .create-account{
    width: 100%;
  }
}

/* ============================= CONTACT PAGE ============================== */
.contact-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.contact-page .form-container{
  width: 25%;
  height: fit-content; 
}
.contact-page .form-container div textarea{
  display: block;
  width: 100%;
  resize: none;
  padding-top: 10px;
  border-radius: 8px;
  font-size: 16px;
  outline: 1px solid yellow;
  padding: 10px;
}
.contact-page .form-container button{
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  background-color: blueviolet;
  font-size: 20px;
  color: white;
}
@media (max-width: 1024px) {
  .contact-page .form-container{
    width: 40%;
  }
}
@media (max-width: 768px) {
  .contact-page .form-container{
    width: 60%;
  }
}
@media (max-width: 500px) {
  .contact-page .form-container{
    width: 85%;
  }
}
@media (max-width: 426px) {
  .contact-page .form-container{
    width: 90%;
  }
}


/* ============================= Home Products Component ============================ */

.home-product-components{
  width: 100%;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  /* border: 1px solid red; */
  padding: 1rem;
}
.home-product-content{
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background: transparent;
}
.home-product-content::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.home-product-container{
  width: 240px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  transition: ease .5s;
}
.home-product-components h3 .off-price{
  color: white;
  background-color: #e3006a;
  padding: 5px 10px;
  border-radius: 2px;
}
.home-product-container img{
  width:200px; 
  height:180px;
}
.home-product-container:hover{
  transform: scale(1.08);
}
.home-product-container img{
  border-radius: 10px 10px 0 0;
}
.home-product-container p{
  padding: 5px;
}
@media (max-width: 426px) {
  .home-product-components{
    padding: 10px;
    gap: 0;
  }
  .home-product-content a{
    width: 200px;
    display: flex;
  }
  .home-product-container{
    width: 300px;
  }
  .home-product-container img{
    width:150px; 
    height:150px;
  }
  .home-product-components h3 .off-price{
    padding: 2px 10px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .home-product-content a{
    width: 150px;
    display: flex;
  }
  .home-product-container{
    width: 250px;
  }
  .home-product-container img{
    width:120px; 
    height:120px;
  }
  .home-product-components h3 .off-price{
    padding: 1px 5px;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .home-product-content a{
    width: 150px;
    display: flex;
  }
  .home-product-container{
    width: 250px;
  }
  .home-product-container img{
    width:120px; 
    height:120px;
  }
  .home-product-components h3 .off-price{
    padding: 1px 5px;
    font-size: 12px;
  }
}

/* ============================== Product Sections ============================== */
.product-section-component{
  width: 100%;
  min-height: 300px;
  padding: 1rem;
  background-color: white;
}
.product-section-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem;
}
.product-section-container .first-product{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-section-container .first-product img{
  width: 100%;
  height: 80%;
  box-shadow: 0px 0px 4px 2px rgba(145, 145, 145, 0.321);
}
.product-section-container .first-product p{
  color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
  outline: none;
  border-bottom: none;
}
@media (max-width: 1024px) {
  .product-section-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .product-section-container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .product-section-container .first-product{
    width: 170px;
    height: 170px;
  }
  .product-section-component{
    width: 100%;
    min-height: 150px;
    padding: 1rem 10px 1rem 10px;
  }
  .product-section-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 426px) {
  .product-section-container .first-product{
    width: 170px;
    height: 170px;
  }
  .product-section-component{
    width: 100%;
    min-height: 150px;
    padding: 1rem 10px 1rem 10px;
  }
  .product-section-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .product-section-container .first-product{
    width: 150px;
    height: 150px;
  }
  .product-section-component{
    width: 100%;
    min-height: 140px;
    padding: 1rem 10px 1rem 10px;
  }
  .product-section-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ============================ footer ========================== */

.footer-component{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
}
.footer-signin-option{
  width: 100%;
  background-color: white;
  padding: 2rem 1rem;
}
.footer-signin-container{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 1px rgba(89, 89, 89, 0.342);
}
.footer-signin-container a{
  display: inline-block;
  width: 40%;
  color: black;
  padding: 8px 0;
  border: none;
  background: linear-gradient(to bottom, rgb(255, 226, 97), rgb(226, 208, 7));
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.footer-component button{
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  background-color: #565c75;
  color: #fff;
  border: none
}
.footer-center{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #313957;
  color: #fff;
}
.footer-center hr{
  color:#6f6f6f60;
}
.footer-content{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 2rem 1rem;
}
.footer-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-text span{
  font-size: 12px;
  font-weight: 500;
}
.footer-amazon-logo{
  background-color: #1d1a1a;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1d1a1a;
  color: #fff;
}
.footer-bottom-content{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 2rem 1rem;
  gap: 1rem;
}
.first-bottom{
  display: flex;
  flex-direction: column;
}
.first-bottom span{
  font-size: 12px;
  color: rgb(209, 209, 209);
}
.footer-copyrights-details{
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-copyrights-details p{
  font-size: 14px;
}
.privacy{
  display: flex;
  gap: 1rem;
}
.privacy span{
  font-size: 15px;
}
@media (max-width: 768px) {
  .footer-bottom-content{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 2rem 1rem;
  }
}
@media (max-width: 500px) {
  .footer-content{
    padding: 1rem 10px;
  }
  .footer-text{
    font-size: 9px;
  }
  .footer-text span{
    font-size: 7px;
    font-weight: 400;
  }
  .first-bottom p{
    font-size: 9px;
  }
  .first-bottom span{
    font-size: 7px;
    font-weight: 400;
  }
  .footer-bottom-content{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 1rem 10px;
    gap: .5rem;
  }
  .footer-amazon-logo{
    padding: 14px 0;
  }
  .privacy span{
    font-size: 10px;
  }
}
@media (max-width: 426px) {
  .footer-content{
    padding: 1rem 10px;
  }
  .footer-text{
    font-size: 9px;
  }
  .footer-text span{
    font-size: 7px;
    font-weight: 400;
  }
  .first-bottom p{
    font-size: 9px;
  }
  .first-bottom span{
    font-size: 7px;
    font-weight: 400;
  }
  .footer-bottom-content{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 1rem 10px;
    gap: .5rem;
  }
  .footer-amazon-logo{
    padding: 14px 0;
  }
  .privacy span{
    font-size: 10px;
  }
}